body {
    background-image: url("images/home-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hi {
    position: absolute;
    top: 20%;
    left: 80%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
